<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="flattr:id" content="qjynzd">
    </head>
    <body>
        <div id="app">
            <noscript>
                This website needs JavaScript enabled for viewing.
                If you don't want to enable JavaScript or your browser doesn't support it,
                you may wan't to read the <a
                        href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/data.yaml">source file</a>
                containing all content of this page.

                Diese Webseite benötigt JavaScript für eine korrekte Darstellung.
                In Browsern, die kein JavaScript unterstützen, kann die <a
                        href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/data.yaml">Originaldatei</a>,
                die alle Texte dieser Webseite enthält, angezeigt werden.

                <h1>Impressum</h1>
                <h2>Für den Inhalt verantwortlich</h2>
                <address>
                    Lukas Winkler<br>
                    Sandgrube 13/1<br>
                    3500 Krems an der Donau<br>
                    Österreich
                </address>
                <h2>Datenschutz</h2>
                <p>
                    Wie die meisten Webseiten sammelt lw1.at anonym Informationen, die der Webbrowser oder Server zur
                    Verfügung stellt, wie zum Beispiel die Art des Browsers, bevorzugte Sprachen, verweisende Webseite
                    und Zeitpunkt des Besuches. Diese Daten, durch welche die Besucher nicht eindeutig identifiziert
                    werden können, werden gesammelt, um besser zu verstehen, wie die Webseite benutzt wird. Hierzu wird
                    die Open-Source-Software <a href="https://piwik.org">Piwik</a> verwendet, wobei keine Daten an
                    andere Firmen
                    oder Server
                    weitergegeben oder verkauft werden.
                </p>
                <p>
                    Daten, welche Besucher eindeutig identifizieren könnten, werden ausschließlich in gekürzter Form
                    abgespeichert, wodurch sie nicht mehr eindeutig zugeordnet werden können. So werden von IP-Adressen
                    nur die ersten beiden Tupel (z. B. 194.118.xxx.xxx) gespeichert und verarbeitet. Wenn Sie verhindern
                    möchten, dass Daten über Sie gesammelt werden, können Sie es am Ende dieser Seite deaktivieren oder
                    <em><a href="http://donottrack.us/">Do-Not-Track</a></em> in Ihrem Browser aktivieren.
                </p>
                <p>
                    Cookies sind kleine Textdateien, die vom Browser zwischenzeitlich gespeichert werden und bei jedem
                    Besuch an den Server gesendet werden. Sie dienen dazu den Besuch von einzelnen Unterseiten
                    nachvollziehen zu können und sich Einstellungen zwischen Besuchen zu merken Wenn Sie nicht möchten,
                    dass Cookies gespeichert werden, können Sie dies in Ihrem Browser deaktivieren.
                </p>
                <h2>Tracking Opt-Out</h2>
                <iframe src="https://matomo.lw1.at/index.php?module=CoreAdminHome&amp;action=optOut&amp;idsite=14&amp;language=de"></iframe>
                <h1>Imprint</h1>
                <h2>Responsible for the content</h2>
                <address>
                    Lukas Winkler<br>
                    Sandgrube 13/1<br>
                    3500 Krems an der Donau<br>
                    Österreich
                </address>
                <h2>Privacy Policy</h2>
                <p>
                    Like most website operators, gattinger-wachau.at collects non-personally-identifying information of
                    the sort
                    that web browsers and servers typically make available, such as the browser type, language
                    preference,
                    referring site, and the date and time of each visitor request. The purpose in collecting
                    non-personally
                    identifying information is to better understand how the visitors use the website. We are using the
                    Open-Source-Software <a href="https://piwik.org">Piwik</a> in order that no data is forwarded or
                    sold to
                    other servers or companies.
                </p>
                <p>
                    Personally-identifying information like Internet Protocol (IP) addresses, are only collected in its
                    shortened form (e.g. 194.118.xxx.xxx), with the result that it is not possible to identify visitors
                    personally.
                    If want to disable this tracking, you can enable <a href="http://donottrack.us/">"Do-Not-Track"</a>
                    in your Browser or disable it below.
                </p>
                <p>
                    A cookie is a string of information that a website stores on a visitor’s computer, and that the
                    visitor’s
                    browser provides to the website each time the visitor returns. We use cookies to help Piwik identify
                    and
                    track visitors, their usage of the website, and their website access preferences. Visitors who do
                    not wish
                    to have cookies placed on their computers should set their browsers to refuse cookies before using
                    our
                    websites, with the drawback that certain features may not function properly without the aid of
                    cookies.
                </p>
                <h2>Tracking Opt-Out</h2>
                <iframe src="https://matomo.lw1.at/index.php?module=CoreAdminHome&amp;action=optOut&amp;idsite=14&amp;language=en"></iframe>
            </noscript>
        </div>
        <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
        <% } %>
    </body>
</html>
