<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="flattr:id" content="qjynzd">
        <title>Lukas Winkler - Projekte</title>
    </head>
    <body>
        <div id="app">
            <noscript>
                This website needs JavaScript enabled for viewing.
                If you don't want to enable JavaScript or your browser doesn't support it,
                you may wan't to read the <a
                        href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/data.yaml">source file</a>
                containing all content of this page.

                You can find my imprint and privacy policy here (until I find time to make it available here without
                JavaScript):
                <a href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/Imprint.vue">Imprint.vue</a>

                Diese Webseite benötigt JavaScript für eine korrekte Darstellung.
                In Browsern, die kein JavaScript unterstützen, kann die <a
                        href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/data.yaml">Originaldatei</a>,
                die alle Texte dieser Webseite enthält, angezeigt werden.

                Sie finden mein Impressum und die Datenschutzerklärung hier (bis ich Zeit habe, sie hier ohne JavaScript
                lesbar mache):

                <a href="https://raw.githubusercontent.com/Findus23/lw1.at/master/src/Imprint.vue">Imprint.vue</a>
            </noscript>
        </div>
        <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
        <% } %>
    </body>
</html>
