<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="flattr:id" content="qjynzd">
        <title>Lukas Winkler - Projekte</title>
    </head>
    <body>
        <div id="app" class="container">
            <div id="noscript">
                <div class="introduction">
                    Hi,<br>
                    I am an astronomy student from Lower Austria and an Open Source fan.<br>
                    When I have time for it, I write more or less useful programs and websites and help <a
                            href="https://matomo.org/">Matomo</a>.
                </div>
                <h1><a href="/en" hreflang="en">Go to the English Website</a></h1>
                <h1><a href="/de" hreflang="de">Die deutsche Webseite besuchen</a></h1>

                <footer>
                    <a href="/de/impressum" hreflang="de">Impressum (de)</a>
                    <br>
                    <a href="/en/imprint" hreflang="en">Imprint (en)</a>
                    <br>
                    <small>You are seeing this page because you have disabled JavaScript or are using an outdated
                        browser. I can't promise that everything will display correctly even though most of the website
                        should.
                    </small>
                </footer>
            </div>
        </div>
        <script>
            if ((typeof [].find) !== "undefined") {
                let noscript = document.getElementById("noscript");
                if (noscript) {
                    noscript.style.display = "none";
                }
            }
        </script>
        <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
        <% } %>
    </body>
</html>
