@import "variables";

#blockwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  color: $consoleText;
  background: $consoleBackground;
  transition: color .2s;
  z-index: 3;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;

  &:hover, &:focus {
    color: $consoleFocus;

    .tag {
      color: $consoleFocus;
      border-color: $consoleFocus;
    }
  }


  img {
    display: block;
    height: auto;
    z-index: 5;
    position: relative;
  }

  .imgwrapper {
    height: 150px;
    width: 300px;
  }

  .textwrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .title{
      text-wrap: balance;
    }

    > div {
      padding: 0 10px
    }
  }
}

.tag {
  display: inline-block;
  border: 1px $consoleText solid;
  text-align: center;
  border-radius: $borderRadius;
  margin: 0 2px;
}

.tag, #filterwrapper > a {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  padding: .3em .6em .3em;

}

#filterwrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    display: block;
    color: $consoleBackground;
    background: white;

    &.active {
      color: $consoleWhite !important;
      outline: none !important;
      background-color: $consoleBackground;
    }

    &:focus, &:active, &:hover {
      color: $consoleBackground;
      outline: 1px solid $consoleBackground;
    }
  }
}

#searchwrapper {
  margin-bottom: 2rem;

  input {
    font-family: $consoleFont;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: .5rem;
    border: 1px solid $consoleBackground;
    border-radius: $borderRadius;
    margin-bottom: 0;
    background-color: white;
    color: $consoleBackground;
    max-width: 300px;
    width: 100%;
    transition: border-color .2s, color .2s;

    &:focus {
      border-color: $consoleBlue;
      outline: none;

      &::placeholder {
        color: $consoleBlue;
        opacity: .5;
      }

    }

    &::placeholder {
      color: $consoleBackground;
      transition: color .2s;
      opacity: 1;
    }

    &::selection {
      background: $consoleBackground;
      color: $consoleWhite;
    }
  }
}


.gpg {
  display: block;
  font-family: monospace;
  font-size: 80%;
}

#visitcounter {
  height: 35px;
  width: auto;
}

