<header class="intro">
    {% if lang=="en" %}
        <h1 aria-label="he/him" class="hint--bottom">Lukas Winkler</h1>
    {% else %}
        <h1>Lukas Winkler</h1>
    {% endif %}
    {% if lang=="de" %}
        <div class="introduction">
            Hallo,<br>
            ich bin ein Astrophysik PhD Student aus Österreich und ein Open Source Programmierer.<br>
            Im meiner Freizeit schreibe ich mehr oder weniger nützliche Programme und Webseiten.
        </div>
    {% else %}

        <div class="introduction">
            Hi,<br>
            I am an astrophysics PhD student from Austria and an Open Source programmer.<br>
            When I have time for it, I write more or less useful programs and websites.
        </div>
    {% endif %}

</header>
