{% extends "base.html" %}

{% block title %}{{ title}}{% endblock %}

{% block content %}
    <h1 class="simplePageHeading">{{ title }}</h1>
    <p>{{ content }}</p>

    {% include "contact.html" %}
    <a href="/{{ lang }}/{% trans %}imprint{% endtrans %}" class="toImprint btn">{% trans %}Imprint{% endtrans %}</a>
    <a href="https://keyoxide.org/63DB263BACE368B5C5F79CE494AFBE7C2656A5B5" class="gpg" target="_blank"
       rel="noopener">
        GPG: 63DB 263B ACE3 68B5 C5F7 9CE4 94AF BE7C 2656 A5B5
    </a>

{% endblock %}
