@import "variables";

pre {
  border: none;
  padding: 0;
  code {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: $consoleBackground;
  }
}

/* Base color: saturation 0; */

pre code,
.hljs-subst {
  color: $consoleText;
}

.hljs-comment {
  color: darken($consoleText,20%);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
  color:$consoleGreen;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: $consoleBlue;
}

.hljs-title,
.hljs-section {
  color: $consoleOrange;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: $consoleRed;
}

.hljs-meta-string {
  color: $consoleRed;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
